.card {
    background-color: rgba(102, 116, 146, 0.295);
    padding: .5rem .75rem .5rem .75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
}

.card-year {
    margin: .5rem 0;
}
.card-population {
    margin: .5rem 0;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}